<div class="wrp">
  <div class="time">
    <span>{{hours}}:</span><span>{{minutes}}:</span> <span>{{seconds}}</span>
  </div>
  <div class="btm-wrp">
    <button [ngClass]="{'disabled': !startBtm}" (click)="startTimer()" [disabled]="!startBtm">Start</button>
    <button [ngClass]="{'disabled': !stopBtm}" (click)="stopTimer()" [disabled]="!stopBtm">Stop</button>
    <button [ngClass]="{'disabled': !waiteBtm}" (click)="waiteTimer()" [disabled]="!waiteBtm">Waite</button>
    <button [ngClass]="{'disabled': !resetBtm}" (click)="resetTimer()" [disabled]="!resetBtm">Reset</button>
  </div>
</div>